@model  Astro.Assignment.Web.Models.AstroChannelMiniModels

@{
    ViewBag.Title = "Assignment 1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assignment 1</h2>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table" id="channelsTable" style="width:100%">
            <thead>
                <tr>
                    <th id="channelIdHeader" class="clickableControl">
                        @Html.DisplayNameFor(model => model.data.FirstOrDefault().ChannelId)
                    </th>
                    <th id="channelTitleHeader" class="clickableControl">
                        @Html.DisplayNameFor(model => model.data.FirstOrDefault().ChannelTitle)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-md-1">
        @Html.Hidden("UpdateFavoriteUrl", @Url.Action("ToggleChannelFavorit"))
    </div>

    <script src="@Url.Content("~/Scripts/astroScript.js")"></script>

</div>

@section scripts
{
    <script>
        function onSuccess(serverData) {

        }

        function onFailure(errorMessage) {

        }

        function updateInitialFavImage(data, type, full, meta) {
            //var orderType = data.OrderType;
            if (data) {
                return '<p class="glyphicon glyphicon-heart clickableControl" data-channelId=' + full.ChannelId + ' onclick="toggleFavorite(this, ' + full.ChannelId + ', UpdateFavoriteUrl, false, false, null, onSuccess, onFailure)"></p>';
            } else {
                return '<p class="glyphicon glyphicon-heart-empty clickableControl" data-channelId=' + full.ChannelId + ' onclick="toggleFavorite(this, ' + full.ChannelId + ', UpdateFavoriteUrl, false, false, null, onSuccess, onFailure)"></p>';
            }
        }

        $(document).ready(function() {
            $('#channelsTable').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": false,
                "lengthChange": false,
                "paging": false,
                "responsive": true,
                "info": false,
                //scrollY: 200,
                //scroller: {
                //    loadingIndicator: true
                //},
                "ajax": {
                    "url": '@Url.Action("GetChannelsList")'
                },
                "columns": [
                    { "data": "ChannelId" },
                    { "data": "ChannelTitle" },
                    { "data": "IsFavorite", render: updateInitialFavImage }
                ],
                "columnDefs": [
                    {
                        "targets": 2,
                        "sortable": false
                    },
                    {
                        "targets": 0,
                        "createdCell": function(td, cellData, rowData, row, col) {
                            if (col === 0) {
                                $(td).attr('data-toggle', 'tooltip');
                                $(td).attr('data-container', 'body');
                                $(td).attr('title', rowData.Description);
                            }
                        }
                    }
                ],
                "fnDrawCallback": function( oSettings ) {
                    //alert('DataTables has redrawn the table');
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });


        });
    </script>
}
